<form action="/dashboard" method="post">
  <input type="text" name="itemName" placeholder="username" />
  <input type="datetime-local" name="dueDate" placeholder="date" />
  <input type="text" name="itemPrice" placeholder="price" />
  <input type="text" name="itemDescription" placeholder="description" />
  <button type="submit">Submit</button>
</form>
